# Terraform
.terraform/
.terraform.lock.hcl
*.tfplan
*.tfstate
*.tfstate.backup
terraform.tfvars.local
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive
*.pem
*.key
secrets.auto.tfvars
